body {
  font-size: 14px;
}

:root {
  --cy-primary-color: #295dfa;
  --cy-primary-hover-color-lighter: #547dfb;
  --cy-primary-hover-color: #053eeb;
  --cy-border-color: #dcdfe6;
  --cy-border-radius-base: 6px;
  --cy-example-padding: 24px;
}

:root {
  --cy-c-brand: var(--cy-primary-color);
  --cy-c-brand-light: var(--cy-primary-hover-color);
  --cy-c-brand-lighter: var(--cy-primary-hover-color-lighter);
  --cy-c-brand-dark: var(--cy-primary-color);
  --cy-c-brand-darker: var(--cy-primary-hover-color);
}
